<div class="container-fluid bg-dark vh-100">
  <div class="container bg-light p-4 vh-100">
    <div class="row">
      <div class="col-7 m-auto">
        <h1 class="text-center mb-4">Cadastro de Produtos</h1>
        <form class="">
          <div class="mb-3">
            <input
              type="text"
              placeholder="Id e nome"
              class="form-control"
              id="inputIdAndName"
              name="inputIdAndName"
              [(ngModel)]="idAndName"
            />
          </div>
          <div class="mb-3">
            <textarea
              placeholder="Descrição"
              class="form-control"
              id="inputDescription"
              name="inputDescription"
              [(ngModel)]="description"
            ></textarea>
          </div>
          <div class="mb-3">
            <input
              type="text"
              placeholder="Preço e quantidade"
              class="form-control"
              id="inputPriceAndQuantity"
              name="inputPriceAndQuantity"
              [(ngModel)]="priceAndQuantity"
            />
          </div>
          <div class="d-grid gap-2 my-4">
            <button
              class="btn btn-primary"
              type="button"
              (click)="onClickShow()"
            >
              Salvar
            </button>
          </div>
        </form>
        <div class="alert alert-success {{ dinamicClass }}" role="alert">
          <div class="row">
            <div class="col d-flex justify-content-between align-itens-center mb-3">
              <h4 class="pt-2">Dados do produto</h4>
              <button type="button" class="btn" (click)="hideAlert()"> <strong> X </strong></button>
            </div>
          </div>
          <p><strong>Id:</strong> {{productId}}</p>
          <p><strong>Nome:</strong> {{productName}}</p>
          <p><strong>Descrição:</strong> {{description}}</p>
          <p><strong>Preço:</strong> {{productPrice}}</p>
          <p><strong>Quantidade:</strong> {{productQuantity}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
